<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> 
    $CSS_LINKS
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Learning locker</title>
</head>

<body>

    <!-- Nav bar -->

    
    <nav class="navbar">
        <a href="theory">Theory</a>
        <a href="commands">Commands</a>
        <a href="/"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/420591505_1060757385207780_1172672224328819069_n.png?_nc_cat=101&ccb=1-7&_nc_sid=510075&_nc_ohc=le1x-fsXpQwAX9Y_WWR&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSb7kVz1M3WBr1-QlkfsU6GjDrwbcT3IsqYzmaPaysJWA&oe=660940C6" alt="Logo" style="height: 50px; width: auto;"></a>
        <a href="toolsused">Tools used</a>
        <a href="about">Contact</a>
    </nav>

    <main>
    