<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> 
    <title>$TAB_TITLE$</title>
</head>

<style>

        /*$STYLES$*/


</style>

<body>

    <!-- Nav bar -->

    
    <nav class="navbar">
        <a href="projects">Commands</a>
        <a href="learning-goals.html">Theory</a>
        <a href="homepage.html"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/420591505_1060757385207780_1172672224328819069_n.png?_nc_cat=101&ccb=1-7&_nc_sid=510075&_nc_ohc=le1x-fsXpQwAX9Y_WWR&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSb7kVz1M3WBr1-QlkfsU6GjDrwbcT3IsqYzmaPaysJWA&oe=660940C6" alt="Logo" style="height: 50px; width: auto;"></a>
        <a href="contact.html">Tools used</a>
        <a href="about-me.html">Contact</a>
    </nav>

    <main class="main-content"></main>
    